.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
h1 {
  font-size: 15vw;
  font-family: 'Manrope', sans-serif;
  margin: 0 0 0 0;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 5vw;
  font-weight: 600;
}

p {
  font-family: 'Manrope', sans-serif;
  font-size: 3vw;
}

.top {
  position: fixed;
  top: -4vw;
  left: 2.5vw;
  zIndex: 100;
  margin: 0 0 0 0;
}

.bottom {
  position: fixed;
  bottom: -4vw;
  right: 2.5vw;
  zIndex: 100;
  margin: 0 0 0 0;
}

a {
  text-decoration-line: underline;
  color: black;
}

/*#s1 {*/
/*  top: -2.5vh;*/
/*}*/

/*#s2 {*/
/*  top: -7vh;*/
/*}*/

/*#s3 {*/
/*  top: -1.5%;*/
/*}*/

/*#s4 {*/
/*  top: -2%;*/
/*}*/

/*#s5 {*/
/*  top: -1%;*/
/*}*/

.sub {
  position: relative;
  top: 45%;
}

h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 5vw;
  font-weight: 600;
  margin: 0 0 0 0;
}

/*.s2 {*/
/*  position: relative;*/
/*  top: -20vh;*/
/*}*/

/*.s3 {*/
/*  position: relative;*/
/*  top: -10vh;*/
/*}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
