@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeThin.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeLight.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeMedium.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeRegular.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeSemiBold.otf) format('opentype');
}
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./fonts/ManropeBold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
